body {
    font-family: "Droid Sans", sans-serif;
    padding: 30px;
}
p {
  text-align: center;
}
header {
    background-color: #9c4d61;
    text-align: center;
}
 #title {
    text-align: center;
    }
  
  #catchphrase {
    text-align: center;
    }
  
  #map {
   width: 100%;
   height: 350px;
   background-color: grey;
 }
 #locations{
   text-align:center;
 }